@media screen and (min-width: 768px) {

    body {
        max-width: 1200px;
        margin: auto;
    }

    /* HERO */
    .mission {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 30%;
        margin: 0;
        opacity: 0.80;
    }

    .hero .logo--square {
        display: flex;
    }

    /* CATEGORY GRID */
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    /* PRODUCT LIST */
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1.5rem;
    }

    /* PRODUCT DETAIL */
    .product-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
    }

    /* PRODUCT LISTING */
    /* SEARCH + SORT INLINE */

    .filters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    /* SEARCH - all */
    .search-container {
        flex: 1;
    }

    /* INPUT - expand */
    .search-input {
        width: 100%;
        max-width: 500px;
    }

    /* SORT - Aling right */
    .sort-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    /* PRODUCT DETAILS */
    .product-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "image name"
            "image info";
        gap: 2rem;
        align-items: start;
    }

    /* Name Top */
    #p-name {
        grid-area: name;
        margin: 0;
    }

    /* Image left */
    .product-detail figure {
        grid-area: image;
        margin: 0;
    }

    .product-detail figure img {
        width: 100%;
        border-radius: 10px;
    }

    /* Info under the name */
    #product-info {
        grid-area: info;
        padding-left: 0;
    }

}