@media screen and (min-width: 768px) {

    body {
        max-width: 1200px;
        margin: auto;
    }

    /* HERO */
    .mission {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 30%;
        margin: 0;
        opacity: 0.80;
    }

    .hero .logo--square {
        display: flex;
    }

    /* CATEGORY GRID */
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    /* PRODUCT LIST */
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1.5rem;
    }

    /* PRODUCT DETAIL */
    .product-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
    }

    /* PRODUCT LISTING */
    /* SEARCH + SORT INLINE */

    .filters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    /* SEARCH - all */
    .search-container {
        flex: 1;
    }

    /* INPUT - expand */
    .search-input {
        width: 100%;
        max-width: 500px;
    }

    /* SORT - Aling right */
    .sort-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    /* PRODUCT DETAILS */
    .product-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "image name"
            "image info";
        gap: 2rem;
        align-items: start;
    }

    /* Name Top */
    #p-name {
        grid-area: name;
        margin: 0;
    }

    /* Image left */
    .product-detail figure {
        grid-area: image;
        margin: 0;
    }

    .product-detail figure img {
        width: 100%;
        border-radius: 10px;
    }

    /* Info under the name */
    #product-info {
        grid-area: info;
        padding-left: 0;
    }

    /* CART - ITEM GRID */
    .cart-card {
        display: grid;
        grid-template-columns: 120px 1fr auto;
        gap: 1.5rem;
        align-items: center;
    }

    /* Image Large */
    .cart-card__image img {
        width: 120px;
    }

    /* Sort info */
    .card__info {
        gap: 0.5rem;
    }

    /* Name large */
    .card__name {
        font-size: 1.2rem;
    }

    /* Footer inline */
    .list-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .checkout-button {
        padding: 0.8rem 1.5rem;
    }

    /* CHECKOUT */

    .checkout {
        max-width: 650px;
        margin: 0 auto;
    }

    .checkout h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .checkout-form form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .checkout__name,
    .checkout__address,
    .checkout__payment {
        display: flex;
        flex-direction: column;
    }

    input {
        margin-bottom: 1rem;
    }

    /* PAYMENT */
    .checkout__payment {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .checkout__payment label[for="cardNumber"],
    .checkout__payment input#cardNumber {
        grid-column: 1 / -1;
    }

    .checkout__payment label[for="expiration"],
    .checkout__payment input#expiration,
    .checkout__payment label[for="code"],
    .checkout__payment input#code {
        grid-column: auto;
    }


    .checkout-summary {
        background: #fff;
        border: 1px solid #ddd;
        padding: 1rem;
        border-radius: 8px;
    }

    #checkoutSubmit {
        max-width: 300px;
        margin: 1rem auto 0;
    }

    /* SUCCESS */
    .success {
        min-height: 70vh;
        align-items: center;
    }

    .success-message {
        max-width: 600px;
        padding: 3rem 2rem;
    }

    .success h2 {
        font-size: 2rem;
        margin: 20px;
    }

    #orderId {
        font-size: 1.3rem;
    }
}