<div class="logo">
  <img src="/images/cake.svg" alt="bakery logo" />
  <a href="/index.html">Bake<span class="highlight">Shop</span></a>
</div>

<div class="cart">
  <a href="/cart/index.html">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M7 4h-2l-1 2h2l3.6 7.59-1.35 2.44C8.16 16.37 8 16.68 8 17a1 1 0 0 0 1 1h10v-2H9.42a.25.25 0 0 1-.22-.37l1.1-2h6.45a1 1 0 0 0 .92-.62l3.58-8.59A1 1 0 0 0 20.34 4H7z"/>
    </svg>
  </a>
  <span class="cart-count"></span>
</div>